<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Selamat Datang, Admin!</h1>
    <p>Ini adalah halaman dashboard admin.</p>
    <ul>
        <li><a th:href="@{/api/users}">Manajemen User</a></li>
        <li><a th:href="@{/api/matakuliah}">Manajemen Mata Kuliah</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</body>
</html>